@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  background: rgba(30, 29, 24, 0.10);
  position: absolute;
  width: 996px;
  height: 130vh;
}
h1 {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 65px;
}
p {
  font-size: 2.25rem;
  font-weight: 500;
}
h2 {
  font-size: 3.5rem;
  font-weight: 500;

}